
.myWorksBlock {
    min-height: 100vh;
    background-color: #9f5c73;

}

.containerWorks {
    flex-direction: column;
}
.title {
    background-color: #aec5ee;
}
.works {
    border: 1px solid;
    max-width: 100%;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

